.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search {
  font-weight: bold;
  font-size: 18px;
  width: 250px;
  padding: 10px 20px;
  border: 2px solid #5a5a5a;
  border-radius: 5px;
}

main {
  margin: 50px;
}

main .container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
